<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="container">
    {% for student in students %}
      <h2>{{ student}}</h2>
        {% for teacher in student.teacher.all %}
            <a href="{% url 'update' pk=teacher.pk %}">{{ teacher }}</a>
                {% for subject in teacher.subject.all %}
                <p>{{subject}}</p>
                {% endfor %}
            {% endfor %}
        <hr>
{% endfor %}

{% if not request.user.is_authenticated %}
<a href="api-auth/login" class="btn btn-primary">Student Login</a>
{% else %}
<a href="api-auth/logout" class="btn btn-primary">Logout</a>
<a href="{% url 'detail' %}">Student API</a>
{% endif %}
</body>
</html>